html{
    scroll-behavior: smooth;
}

body{
    background-color: #555555;
    color:#fff;
    background-repeat: no-repeat;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

body *{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}



h1, h2, h3, h4, h5{
    font-weight: normal;
    margin: 0;
}

a, a:hover, a:visited{
    color:#333333;
    text-decoration: none;
}


.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

div.wrapper > h1{
    text-align: center;
    margin: 100px auto;
    font-size: 2.4em
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 16px 0;
}


nav{
    justify-self: end;
}

nav li{
    display: inline-block;
    list-style-type: none;
    margin-left: 20px;
    font-weight: bold;
}

nav button{
    background: none;
    color: #00cca3;
    cursor: pointer;
    border: 0;
    font-size: 16px;
    font-weight: bold;
}


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color: #00cca3;
}

.articles{
    display: grid;
    border-radius: 4px;
    gap: 30px;
    padding: 1rem;
    grid-template-columns: repeat(6, calc(33% + 40px));
    grid-template-rows: minmax(150px, 1fr);
    grid-auto-columns: 33%;
    overflow-x: auto;
    margin-bottom: 2em;
    box-shadow:  0 0 7px -2px rgba(0,0,0,0.3) inset;
}


.articles span :hover{
    transform: none;
    box-shadow: none;
    background-image: unset;
}


.articles a{
    color: #fff;
}


.articles :hover{
    transform: scale(1.1, 1.1);
    cursor: pointer;
    transition: ease-in 1s;
    box-shadow: 0 0 10px #00cca3;
    background-image: url(hadley_logo.png);
    background-repeat: no-repeat;
    background-position: right;
    background-origin: right;
} 

.articles:hover::before{
    transform: scale(1.1);
    transition: ease-in 1s;
    box-shadow: 0 0 10px #00cca3;
    cursor: pointer;
}


.article{
    padding: 10px;
    margin: 1em;
    position: relative;
    padding-bottom: 40px;
    background-color: #333333;
    border-radius: 4px;
    border: 1px solid #00cca3;
    grid-row: 1/3;
}

.article .author{
    padding: 10px;
    border-bottom: 2px solid#333333;
    border-right: 2px solid#333333;
    background: #555555;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
}

.article-detail .article{
    padding: 0;
}

.article-detail  .article img{
    max-width: 100%;
}

.article-detail  .article h2{
    text-align: center;
    margin: 20px auto;
    font-size: 2em
}

.article-detail .article p{
    text-align: center;
}

.article-detail  .article p{
    margin: 10px 20px
}

.article-detail  .article * span{
    color: white !important;
}

.buttons{
    position: absolute;
    width: 100%;
}



.site-form{
    margin-top: 60px;
    background-color: #333333;
    padding: 20px;
    border-radius: 4px;
    border: 2px solid #00cca3;
    margin-bottom: 2em;
}

.site-form input, .site-form textarea{
    display: block;
    margin: 20px 0 0 0;
    padding: 10px;
    color: black;
}

a.highlight {
    border: 1px soild #333333;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    background-color: #333333;
}

.helptext, .helptext ul{
    margin: 0 auto 20px;
    color: #bbb;
    font: 0.9em;
    display: block;
}

.errorlist li{
    padding: 10px;
    list-style-type: none;
    border: 1px solid #ff5722;
    color: #ff5722;
    margin: 10px 0;
}

.errorlist{
    padding: 0;
}

.site-form input[type="submit"]{
    background: #333333;
    border: 0;
    color: #fff;
    font-size: 1.2em;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid #00cca3;
    font-weight: bold;
}

.site-form input[type="submit"]:hover{
    box-shadow: 0px 2px #000000;
    background-color: #555555;
}

.footer{
    display: flex;
    background-color: #00cca3;
    color: white;
    padding: 1em;
    margin-top: auto;
    width: 100%;
}

.footer-left{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    position: relative;
    margin-left: 1rem;
}

.footer-left p{
    line-height: .5em;
}



.footer-middle{
    display: flex;
    align-items: right;
    justify-content: right;
}

.footer-middle img{
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
}

.footer-middle a{
    position: absolute;
    right: 0;
}

.footer a:hover{
    cursor: pointer;
    filter: brightness(225%) opacity(.7);
}

.footer-middle a:hover{
    filter: brightness(225%) opacity(.7);
    cursor: pointer;
}

